form, .donation-form {
  [v-cloak] {
    display:none;
  }
  width: 650px;
  background-color: $color-white;
  margin: auto;
  padding: 60px 75px;
  @include breakpoint(tabletonly) {
    width: 450px;
    padding: 60px 35px;
  }
  @include breakpoint(phoneonly) {
    padding: 20px 10px;
    width: 98%;
    margin: 0px 1%;
  }
  .donate-buttons, .donate-timeframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;
    input {
      &:hover,
      &.active {
        cursor:pointer;
        background-color: $color-lightblue;
        color:$color-white;
        @include input-placeholder {
          color: $color-white !important;
        }
        transition: .3s ease;
      }
      @include input-placeholder {
        color: $color-black !important;
      }
    }
    .donate-button {
      width: 32%;
      margin-right: 1.5%;
      margin-bottom: 10px;
      input {
        font-size: 22px;
        padding: 30px 0;
        border: 1px solid $color-lightblue;
        text-align: center;
      }
    }
    .donate-button:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}
.donate-timeframe > input {
  width: 49%;
  padding: 10px 0;
  text-align: center;
  border: 1px solid $color-lightblue;
}
.donate-timeframe > input:first-child {
  margin-right: 2%;
}
.calculator {
  padding: 40px 20px;
  background-color: $color-lightgray;
  text-align: center;
  > p {
    color: $color-graytext-footer;
    @include breakpoint(phoneonly) {
      margin-bottom: 0px;
    }
  }
  .calculator-results {
    display: flex;
    margin-top: 45px;
    @include breakpoint(phoneonly) {
      flex-direction: column;
      margin-top: 0px;
    }
    .calculation {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include breakpoint(phoneonly) {
        flex-direction: row;
      }
      .big-number {
        font-family: $league;
        font-size: 70px;
        margin: 20px 0;
      }
      p {
        font-size: 12px;
        @include breakpoint(phoneonly) {
          width: 33%;
        }
      }
      img {
        @include breakpoint(phoneonly) {
          width: 45px;
        }
      }
    }
    .calculation:first-child, .calculation:nth-child(2) {
      border-right: 1px solid $color-graytext-footer;
      @include breakpoint(phoneonly) {
        border-right: 0px;
        border-bottom: 1px solid $color-white;
        padding-top: 30px;
        padding-bottom: 20px;
      }
    }
  }
}
