footer {
  background-color: $color-gray;
}

.footer-container {
  @include pageSideMargins;
  @include breakpoint(phoneonly) {
    @include mobilePageSideMargins;
  }
  padding-top: 90px;
  @include breakpoint(tabletonly) {
    text-align: center;
  }
  @include breakpoint(phonetablet) {
    padding-top: 60px;
  }
  @include breakpoint(hugeness) {
    @include hugeness-container;
  }
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  @include breakpoint(phonetablet) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-title {
  span {
    font-size: 22px;
    color: $color-graytext-footer;
    font-weight: bold;
  }
  @include breakpoint(phonetablet) {
    margin-bottom: 60px;
  }
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  > div {
    margin-bottom: 25px;
  }
  a {
    text-decoration: none;
    span {
      font-size: 26px;
      @include breakpoint(phoneonly) {
        font-size: 24px;
      }
      color: $color-lightblue;
      margin-left: 15px;
    }
  }
  div:first-of-type span {
    color: $color-white;
    margin-bottom: 30px;
  }
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  @include breakpoint(phonetablet) {
    height: 200px;
  }
}

.footer-menus {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 75%;
  @include breakpoint(phonetablet) {
    display: none;
  }
}

.footer-menu-container {
  border-left: solid 1px $color-graytext-footer;
  padding-left: 20px;
  h3 {
    color: $color-graytext-footer;
    font-size: 17px;
  }
  li {
    color: $color-white;
    font-size: 14px;
  }
  .footer-menu {
    &.other {
      li {
        margin-bottom: 5px;
        a {
          font-size: 13px;
          font-weight: normal;
        }
      }
    }
    @include menuUl;
    > li {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: $color-white;
      font-size: 13px;
    }
    > li > a {
      font-weight: bold;
      font-size: 14px;
    }
    > li ul {
      list-style: none;
      padding-left: 0px;
      margin-top: 5px;
      margin-bottom: 10px;
      li {
        margin-left: 15px;
        margin-bottom: 5px;
      }
      li::before {
        content: "-";
        margin-left: -15px;
      }
      li a {
        font-weight: normal;
      }
    }
  }
  @include breakpoint(phonetablet) {
    display: none;
  }
}

.footer-credits {
  width: 25%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  p, a {
    font-size: 13px;
  }
  p {
    color: $color-graytext-footer;
    line-height: 1.5;
  }
  @include breakpoint(phonetablet) {
    width: 100%;
  }
}
