$nav-trans-speed: 0.45s;
header {
  background-color: $color-lightgray;
  padding: 40px 25px 0px 40px;
  @include breakpoint(phonetablet) {
    padding: 26px 17px 0;
  }
}

.header-container {
  display: grid;
  grid-template-columns: 306px auto 200px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
  @include breakpoint(phonetablet) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  @include breakpoint(hugeness) {
    @include hugeness-container;
    max-width: 1335px;
  }
}

.header-container > a {
  text-decoration: none;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 33px;
  margin-left: 1px;

  .logo {
    @include breakpoint(phonetablet) {
      display: none;
    }
  }

  > span {
    margin-left: 18px;
    color: $color-darkblue;
    font-family: $roboto;
    font-weight: bold;
    white-space: nowrap;
    line-height: 1.3em;
    @include breakpoint(phoneonly) {
      margin-left: 0;
      font-size: 13px;
    }
  }
}

.main-menu {
  @include breakpoint(phonetablet) {
    display: none;
  }
  width: 100%;
  ul {
    @include menuUl;
  }
  > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: $color-lightblue;
    font-weight: bold;
    padding-right:15%;
    @media only screen and (max-width : 1050px) {
      padding-right:0;
    }

    > li {
      white-space: nowrap;
      cursor: pointer;
      position: relative;
      padding-bottom: 31px;
      -webkit-transition: $nav-trans-speed ease;
      transition: $nav-trans-speed ease;
      > span {
        white-space: nowrap;
        font-size: $text-default + 2px;
      }
      > div {
        @include arrowUp($color-white);
        @include centerer;
        top: 43px;
        z-index: 2 !important;
      }
    }
    > li:nth-child(2) {
      margin: 0 42px;
      @media only screen and (max-width : 1050px) {
        margin: 0 20px;
      }
    }
    > li:hover {
      color: $color-darkblue;
    }
  }
}

.level-2 {
  display: none; // keeps hover box hidden till user clicks
  padding: 20px 0;
  width: 180px;
  text-align: center;
  background-color: $color-white;
  top: 58px;
  @include centerer;
  -webkit-box-shadow: 4px 4px 6px -2px rgba(0,0,0,.2);
  box-shadow: 4px 4px 6px -2px rgba(0,0,0,.2);
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0,0,0,.2);
  box-shadow: 1px 2px 4px 0px rgba(0,0,0,.2);
  a {
    font-size: $text-default - 1px;
    font-weight: initial;
    text-decoration: none;
    li {
      line-height:1em;
      padding: 10px 0px;
      color: $color-graytext-footer;
      background-color: $color-white;
      transition: background-color .3s ease, color .3s ease;
      -webkit-transition: background-color .3s ease, color .3s ease;
    }
    li:hover {
      background-color: $color-lightgray;
      color: $color-black;
    }
  }
}

.header-container .selected {
  display: block;
  z-index: 1;
  // .selected is class added by jquery for switching on and off hover of main menu sub ul's
}

.menu-right {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  align-self: flex-start;

  justify-self: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top:27px;
  @include breakpoint(phonetablet) {
    padding-top:0;
  }

  button  {
    &:hover {
      background-color: $color-lightblue2;
    }
    outline:0 none;
    padding: 0;
    text-align: center;
    width:132px;
    height:43px;
    line-height: 43px;
    overflow: hidden;

    border-radius: 5px;
    background-color: $color-lightblue;
    color: $color-white;

    font-family: $roboto-condensed;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    border: none;
    cursor: pointer;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;

    @include breakpoint(phonetablet) {
      width: 95px;
      height: 31px;
      line-height: 31px;
      font-size: 11px;
      //letter-spacing: 0.2em;
    }

    @include breakpoint(phoneonly) {
      //padding: 10px 20px;
    }
  }


  > .menu-hamburger {
    margin: 11px 0 0 24px;
    position: relative;
    cursor: pointer;
    > img {
      width: 21px;
      height: 21px;
    }
    .arrow-up {
      @include centerer;
      @include arrowUp($color-gray);
      top: 35px;
      @include breakpoint(phonetablet) {
        @include arrowUp($color-mobile-header-menu-gray);
        top: 45px;
      }
    }
    @include breakpoint(phonetablet) {
      margin: 5px 0 0 20px;
    }
  }
}

.secondary-menu {
  display: none;
  background-color: $color-gray;
  min-width: 260px;
  position: absolute;
  right: -25px;
  top: 55px;
  @include menuUl;
  padding: 10px 0 10px;
  z-index:1;
  .divider {
    height:0;
    border-top: 1px solid $color-graytext-footer;
    padding: 0 0 10px;
    margin:10px 26px 0;
  }
  a {
    color: $color-white;
    text-decoration: none;
    li {
      padding: 8px 26px;
      -webkit-transition: $nav-trans-speed ease;
      transition: $nav-trans-speed ease;
      font-size: 14px;
    }
    li:hover {
      background-color: $color-graytext-footer;
    }
  }
  //a:nth-of-type(5n+0) li {
  //  border-bottom: 1px solid $color-lightgray;
  //  padding-bottom: 25px;
  //}
  //a:nth-of-type(6n+0) li {
  //  padding-top: 25px;
  //}
}

.secondary-menu-mobile {
  display: none;
  margin: 0px;
  width: 100%;
  ul {
    @include menuUl;
  }
  ul.mobile-menu-top {
    background-color: $color-mobile-header-menu-gray;
    padding: 30px 0px 15px 30px;
    > li > span {
      font-size: 18px;
      font-weight: bold;
      color: $color-graytext-footer;
      margin-bottom: 15px;
    }
    ul {
      margin: 15px 0px 25px 0px;
      li {
        margin-bottom: 15px;
        font-size: 14px;
        -webkit-transition: $nav-trans-speed ease;
        transition: $nav-trans-speed ease;
      }
      a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
  ul.mobile-menu-bottom {
    padding: 30px 30px 15px 30px;
    background-color: $color-gray;
    .divider {
      height:0;
      border-top: 1px solid $color-graytext-footer;
      padding: 0 0 10px;
      margin:10px auto 0;
    }
    a {
      color: $color-white;
      text-decoration: none;
      li {
        margin-bottom: 10px;
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
    //a:nth-of-type(5n+0) li {
    //  border-bottom: 1px solid $color-lightgray;
    //  padding-bottom: 15px;
    //}
    //a:nth-of-type(6n+0) li {
    //  padding-top: 7px;
    //}
  }
}
