header {
  background-color: $color-lightgray;
  padding: 40px 25px 0px 40px;
  @include breakpoint(phonetablet) {
    padding: 30px 20px 0px 20px;
  }
}

.header-container {
  display: grid;
  grid-template-columns: 306px auto 200px;
  align-items: end;
  justify-items: center;
  @include breakpoint(phonetablet) {
    display: flex;
    justify-content: space-between;
  }
}

.header-container > a {
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: flex-end;
  padding-bottom: 35px;
}

.logo {
  @include breakpoint(phonetablet) {
    display: none;
  }
}

.logo-container > span {
  margin-left: 20px;
  color: $color-darkblue;
  font-family: $roboto;
  font-weight: bold;
  white-space: nowrap;
}

.main-menu {
  @include breakpoint(phonetablet) {
    display: none;
  }
  width: 100%;
  ul {
    @include menuUl;
  }
  > ul {
    display: flex;
    justify-content: center;
    color: $color-lightblue;
    font-weight: bold;
    > li {
      cursor: pointer;
      position: relative;
      padding-bottom: 35px;
      transition: 0.2s ease;
      > span {
        font-size: $text-default + 2px;
      }
      > div {
        @include arrowUp($color-white);
        @include centerer;
        top: 35px;
      }
    }
    > li:nth-child(2) {
      margin: 0px 40px;
    }
    > li:hover {
      color: $color-darkblue;
    }
  }
}

.level-2 {
  display: none; // keeps hover box hidden till user clicks
  padding: 10px 0;
  width: 180px;
  text-align: center;
  background-color: $color-white;
  top: 55px;
  @include centerer;
  -webkit-box-shadow: 4px 4px 6px -2px rgba(0,0,0,.2);
  -moz-box-shadow: 4px 4px 6px -2px rgba(0,0,0,.2);
  box-shadow: 4px 4px 6px -2px rgba(0,0,0,.2);
  transition: .7s ease;
  a {
    font-size: $text-default - 1px;
    font-weight: initial;
    text-decoration: none;
    li {
      padding: 15px 0px;
      transition: 0.5s ease;
      color: $color-graytext-footer;
    }
    li:hover {
      background-color: $color-lightgray;
      color: $color-black;
    }
  }
}

.header-container .selected {
  display: block;
  // .selected is class added by jquery for switching on and off hover of main menu sub ul's
}

.menu-right {
  justify-self: right;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.menu-right button  {
  padding: 13px 35px;
  border-radius: 5px;
  background-color: $color-lightblue;
  font-size: 14px;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
  transition: 0.7s ease;
  @include breakpoint(phoneonly) {
    padding: 10px 20px;
  }
}

.menu-right button:hover {
  background-color: $color-darkblue;
}

.menu-right > .menu-hamburger {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  .arrow-up {
    @include centerer;
    @include arrowUp($color-gray);
    top: 35px;
    @include breakpoint(phonetablet) {
      @include arrowUp($color-mobile-header-menu-gray);
      top: 40px;
    }
  }
}

.secondary-menu {
  display: none;
  background-color: $color-gray;
  min-width: 260px;
  position: absolute;
  right: -25px;
  top: 53px;
  @include menuUl;
  padding: 10px 25px 0 20px;
  a {
    color: $color-white;
    text-decoration: none;
    li {
      padding: 15px 10px;
      transition: 0.7s ease;
      font-size: 14px;
    }
    li:hover {
      background-color: $color-graytext-footer;
    }
  }
  a:nth-of-type(5n+0) li {
    border-bottom: 1px solid $color-lightgray;
    padding-bottom: 25px;
  }
  a:nth-of-type(6n+0) li {
    padding-top: 25px;
  }
}

.secondary-menu-mobile {
  display: none;
  margin: 0px;
  width: 100%;
  ul {
    @include menuUl;
  }
  ul.mobile-menu-top {
    background-color: $color-mobile-header-menu-gray;
    padding: 30px 0px 15px 30px;
    > li > span {
      font-size: 18px;
      font-weight: bold;
      color: $color-graytext-footer;
      margin-bottom: 15px;
    }
    ul {
      margin: 15px 0px 25px 0px;
      li {
        margin-bottom: 15px;
        font-size: 14px;
        transition: .07s ease;
      }
      a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
  ul.mobile-menu-bottom {
    padding: 30px 0px 15px 30px;
    background-color: $color-gray;
    a {
      color: $color-white;
      text-decoration: none;
      li {
        margin-bottom: 10px;
        width: 200px; // To prevent the line under every fifth element from stretching cross screen
      }
    }
    a:nth-of-type(5n+0) li {
      border-bottom: 1px solid $color-lightgray;
      padding-bottom: 15px;
    }
    a:nth-of-type(6n+0) li {
      padding-top: 7px;
    }
  }
}
