.ribbon {
 width: 111%;
 position: relative;
 color: #fff;
 background-color: rgba(255,68,69, 0.85);
 text-align: center;
 padding-top: 3px;
 padding-bottom: 3px;
 margin-left: -5.5%; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 background-color: rgba(255,68,69, 0.85);
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: rgba(255,68,69, 1) transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content {
  font-size: 25px;
  font-weight: bold;
  border-top: 1px solid rgba(255,255,255, 0.7);
  border-bottom: 1px solid rgba(255,255,255, 0.7);
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  @include breakpoint(phonetablet) {
    font-size: 20px;
  }
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
