footer {
  background-color: $color-gray;
}

.footer-container {
  @include pageSideMargins;
  margin-top: 0px;
}

.top-footer {
  display: flex;
  justify-content: space-between;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}
