header {
  background-color: $color-lightgray;
  padding: 40px 25px 0px 40px;
}

.header-container {
  display: grid;
  grid-template-columns: 350px auto 350px;
  align-items: end;
  justify-items: center;
}

.logo-container {
  display: flex;
  align-items: flex-end;
  padding-bottom: 35px;
}

.logo-container > span {
  margin-left: 20px;
  color: $color-darkblue;
  font-family: $roboto;
  font-weight: bold;
}

nav.main-menu {
  width: 50%;
}

.main-menu {
  width: 50%;
  ul {
    @include menuUl;
  }
  > ul {
    display: flex;
    justify-content: space-evenly;
    color: $color-lightblue;
    font-weight: bold;
    > li {
      cursor: pointer;
      font-size: $text-default + 2px;
      position: relative;
      padding-bottom: 35px;
      > div {
        @include arrowUp($color-white);
        @include centerer;
        top: 35px;
      }
    }
  }
}

.level-2 {
  display: none; // keeps hover box hidden till user clicks
  padding: 10px 0;
  width: 180px;
  text-align: center;
  background-color: $color-white;
  top: 55px;
  @include centerer;
  -webkit-box-shadow: 1px 5px 2px 2px $color-lightgray;
  -moz-box-shadow: 1px 5px 2px 2px $color-lightgray;
  box-shadow: 1px 5px 2px 2px $color-lightgray;
  transition: .7s ease;
  a {
    font-size: $text-default - 1px;
    font-weight: initial;
    color: $color-black;
    text-decoration: none;
    li {
      padding: 15px 0px;
      transition: 0.5s ease;
    }
    li:hover {
      background-color: $color-lightgray;
    }
  }
}

.header-container .selected {
  display: block;
}

.menu-right {
  justify-self: right;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.menu-right button  {
  padding: 18px 35px;
  border-radius: 5px;
  background-color: $color-lightblue;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
}

.menu-right > .menu-hamburger {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  .arrow-up {
    @include centerer;
    @include arrowUp($color-gray);
    top: 45px;
  }
}

.secondary-menu {
  display: none;
  background-color: $color-gray;
  min-width: 245px;
  position: absolute;
  right: -25px;
  top: 65px;
  @include menuUl;
  li {
    padding: 15px 30px;
    a {
      color: $color-white;
    }
  }
}
