header {
  background-color: $color-lightgray;
  padding: 0px 25px 0px 40px;
}

.header-container {
  display: grid;
  grid-template-columns: 350px auto 350px;
  align-items: center;
  justify-items: center;
}
