/* Default CSS For Various Elements on the Site */
html {
  font-size: 100%; // Sets to 16px in most browsers
}

* {
  box-sizing: border-box;
}

p, button {
  font-size: $text-default;
  font-family: $roboto;
}
