@mixin centerer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@mixin menuUl {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

@mixin arrowUp($color) {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  display: none;
  transition: .7s ease;
  border-bottom: 20px solid $color;
}
