/*
Error: Invalid CSS after "  border-bottom: ": expected expression (e.g. 1px, bold), was ": 20px solid tr..."
        on line 59 of assets/css/_src/_mixins.scss
        from line 6 of assets/css/_src/_extends.scss
        from line 5 of assets/css/_src/main.scss

54:   z-index:2;
55: }
56: 
57: @mixin arrowRight($color) {
58:   border-top: 20px solid transparent;
59:   border-bottom: : 20px solid transparent;
60:   display: none;
61:   transition: .7s ease;
62:   border-left: 20px solid $color;
63:   z-index:2;
64: }

Backtrace:
assets/css/_src/_mixins.scss:59
assets/css/_src/_extends.scss:6
assets/css/_src/main.scss:5
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1278:in `expected'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/script/lexer.rb:231:in `expected!'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/script/parser.rb:724:in `assert_expr'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/script/parser.rb:68:in `parse'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1134:in `sass_script'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:988:in `value!'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:796:in `block in try_declaration'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1254:in `rethrow'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:809:in `try_declaration'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:732:in `declaration_or_ruleset'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:697:in `block_child'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:689:in `block_contents'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:678:in `block'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:246:in `mixin_directive'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:234:in `special_directive'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:209:in `directive'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:696:in `block_child'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:689:in `block_contents'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:41:in `parse'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/engine.rb:414:in `_to_tree'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/engine.rb:321:in `to_tree'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:88:in `block in with_import'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:135:in `with_frame'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:88:in `with_import'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `block in with_base'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:135:in `with_frame'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `with_base'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:325:in `map'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:88:in `block in with_import'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:135:in `with_frame'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:88:in `with_import'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `block in with_base'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:135:in `with_frame'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `with_base'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `map'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `each'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:320:in `block in watch'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
C:/tools/ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  border-bottom: \": expected expression (e.g. 1px, bold), was \": 20px solid tr...\"\A         on line 59 of assets/css/_src/_mixins.scss\A         from line 6 of assets/css/_src/_extends.scss\A         from line 5 of assets/css/_src/main.scss\A \A 54:   z-index:2;\A 55: }\A 56: \A 57: @mixin arrowRight($color) {\A 58:   border-top: 20px solid transparent;\A 59:   border-bottom: : 20px solid transparent;\A 60:   display: none;\A 61:   transition: .7s ease;\A 62:   border-left: 20px solid $color;\A 63:   z-index:2;\A 64: }"; }
