/* Default CSS For Various Elements on the Site */
html {
  font-size: 100%; // Sets to 16px in most browsers
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 86px;
  color: $color-white;
  font-family: $league;
  text-transform: uppercase;
  padding: 5px 10px;
}

h2, h3 {
  font-family: $roboto;
  margin: 0;
}

p, button, li, a, input, span {
  font-size: $text-default;
  font-family: $roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 12px 15px;
  border-radius: 3px;
  color: $color-white;
  border: none;
  font-weight: bold;
}

.orange-bg {
  background-color: $color-orange;
}

.darkblue-bg {
  background-color: $color-darkblue;
}
