/* Default CSS For Various Elements on the Site */
html {
  font-size: 100%; // Sets to 16px in most browsers
}

* {
  box-sizing: border-box;
}

h1 {
  display: table;
  margin: 0;
  font-size: 86px;
  color: $color-white;
  font-family: $league;
  background-color: $color-lightblue;
  text-transform: uppercase;
  padding: 5px 10px;
}

h2, h3 {
  font-family: $roboto;
}

p, button, li, a, input, span {
  font-size: $text-default;
  font-family: $roboto;
}

a {
  color: $color-lightblue;
}
