// Breakpoints
@mixin breakpoint($point) {
  @if $point == hugeness {
    @media only screen and (min-width : 1400px) { @content ; }
  }
  @else if $point == desktopbeyond {
    @media only screen and (min-width : 901px) { @content ; }
  }
  @else if $point == desktop {
    @media only screen and (min-width : 901px) and (max-width : 1700px) { @content ; }
  }
  @else if $point == tabletonly {
    @media only screen and (min-width : 515px) and (max-width : 900px) { @content ; }
  }
  @else if $point == phonetablet {
    @media only screen and (min-width : 1px) and (max-width : 900px) { @content ; }
  }
  @else if $point == phoneonly {
    @media only screen and (min-width : 1px) and (max-width : 515px)  { @content ; }
  }
  @else {
    @warn "Breakpoint mixin supports: phoneonly, phonetablet, tabletonly, desktop, hugeness";
  }
}

// Header
@mixin centerer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@mixin menuUl {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

@mixin arrowUp($color) {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  display: none;
  transition: .7s ease;
  border-bottom: 20px solid $color;
  z-index:2;
}

@mixin arrowDown($color) {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  display: none;
  transition: .7s ease;
  border-top: 20px solid $color;
  z-index:2;
}

@mixin arrowRight($color) {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  display: none;
  transition: .7s ease;
  border-left: 20px solid $color;
  z-index:2;
}

//Footer
@mixin pageSideMargins {
  margin-left: 100px;
  margin-right: 100px;
}

@mixin mobilePageSideMargins {
  margin-left: 20px;
  margin-right: 20px;
}

@mixin mobilePageSideMargins {
  margin-left: 20px;
  margin-right: 20px;
}

// General

@mixin headerText() {
  margin: 0;
  font-size: 86px;
  color: $color-white;
  font-family: $league;
  text-transform: uppercase;
  float: left;
  clear: left;
  line-height: 0.96;
  letter-spacing: 3px;
  white-space: nowrap;
  padding: 10px 25px 0px 25px;
}


@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin saw-tooth-horizontal($width: 12px, $bg: #fff) {
  // 16 x 5
  position: relative;
  &:before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:3px;
    margin: -3px 0 0;
    background: transparent url(/assets/img/saw-tooth.png) repeat-x left bottom;
    background-size: 8px auto;
  }
  &:after {
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:3px;
    margin: 0 0 -3px;
    background: transparent url(/assets/img/saw-tooth-bottom.png) repeat-x left top;
    background-size: 8px auto;
  }
}

@mixin hugeness-container {
  max-width: 1400px;
  margin: 0 auto;
}
