.banner.home {
  background: url(../../assets/img/oldmanfull.jpg) no-repeat center center;
  height: 780px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-photos {
  display: none;
}
.headline {
  padding-top: 100px;
  padding-left: 100px;
  span {
    margin: 0;
    font-size: 86px;
    color: $color-white;
    font-family: $league;
    background-color: $color-lightblue;
    text-transform: uppercase;
    float: left;
    clear: left;
    padding: 10px 10px 0px 10px;
  }
  span.orange-header {
    background-color: $color-orange;
  }
}
.headline:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  // for float clearing
}
.video-section {
  margin: 50px 100px;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    p {
      margin-left: 20px;
      font-size: 42px;
      font-family: $league;
      text-transform: uppercase;
      color: $color-black;
    }
  }
}

.box-links {
  display: flex;
  @include breakpoint(phonetablet) {
    flex-direction: column;
  }
  .box-link {
    padding: 125px 80px;
    text-align: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    transition: 0.9s ease;
    @include breakpoint(phoneonly) {
      padding: 100px 60px;
    }
    img {
      align-self: center;
      margin-bottom: 40px;
    }
    a {
      text-decoration: none;
      span {
        font-family: $league;
        font-size: 42px;
        text-transform: uppercase;
        color: $color-white;
        font-weight: bold;
        text-decoration: none;
        @include breakpoint(phoneonly) {
          font-size: 34px;
        }
      }
    }
    p {
      font-size: 18px;
      color: $color-white;
      font-style: italic;
      @include breakpoint(phoneonly) {
        font-size: 14px;
      }
    }
  }
  .box-link.light-blue {
    background-color: $color-lightblue
  }
  .box-link.light-blue:hover {
    background-color: rgba(83, 158, 208, 0.8);
  }
  .box-link.dark-blue {
    background-color: $color-darkblue;
  }
  .box-link.dark-blue:hover {
    background-color: rgba(0, 81, 145, 0.8);
  }
  .box-link.background-image {
    background: url(../../assets/img/womanbackground.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .box-link.background-image:hover {
    background:
    /* top, transparent white, faked with gradient */
    linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1)
    ),
    /* bottom, image */
    url(../../assets/img/womanbackground.png) no-repeat center center;
    background-size: cover;
  }
}
