@import "../components/video";
.banner.home {
  // See site js for background img url
  background: no-repeat center center;
  height: 780px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @include breakpoint(hugeness) {
    max-width: 1400px;
    margin: 0 auto;
  }
  @include breakpoint(tabletonly) {
    height:500px;
  }
  @include breakpoint(phoneonly) {
    height:300px;
  }
  > img {
    display: none;
  }
}

.box-links {
  display: flex;
  clear: both;
  @include breakpoint(hugeness) {
    @include hugeness-container;
  }
  @include breakpoint(phonetablet) {
    flex-direction: column;
  }
  .box-link {
    padding: 125px 75px;
    text-align: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    transition: 0.9s ease;
    @include breakpoint(phoneonly) {
      padding: 100px 60px;
    }
    img {
      align-self: center;
      margin-bottom: 40px;
    }
    a {
      text-decoration: none;
      span {
        font-family: $league;
        font-size: 42px;
        text-transform: uppercase;
        color: $color-white;
        text-decoration: none;
        letter-spacing: 1.4px;
        @include breakpoint(phoneonly) {
          font-size: 34px;
        }
      }
    }
    p {
      font-size: 18px;
      color: $color-white;
      font-style: italic;
      @include breakpoint(phoneonly) {
        font-size: 14px;
      }
    }
  }
  .box-link.light-blue {
    background-color: $color-lightblue
  }
  .box-link.light-blue:hover {
    background-color: rgba(83, 158, 208, 0.8);
  }
  .box-link.dark-blue {
    background-color: $color-darkblue;
  }
  .box-link.dark-blue:hover {
    background-color: rgba(0, 81, 145, 0.8);
  }
  .box-link.background-image {
    background:
    /* invisible graient necessary to keep image from moving on mouseleave */
    linear-gradient(
      rgba(255, 255, 255, 0.0),
      rgba(255, 255, 255, 0.0)
    ),
    url(../../assets/img/womanbackground.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .box-link.background-image:hover {
    background:
    /* top, transparent white, with gradient */
    linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1)
    ),
    /* bottom, image */
    url(../../assets/img/womanbackground.png) no-repeat center center;
    background-size: cover;
  }
}
