@import "../components/video";
.banner.home {
  // See site js for background img url
  background: no-repeat center center;
  height: 780px;
  background-size: cover;
  @include breakpoint(hugeness) {
    max-width: 1400px;
    margin: 0 auto;
  }
  @include breakpoint(tabletonly) {
    height:500px;
  }
  @include breakpoint(phoneonly) {
    height:300px;
  }
  > img {
    display: none;
  }
}

.box-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: both;
  @include breakpoint(hugeness) {
    @include hugeness-container;
  }
  @include breakpoint(phonetablet) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-link {
    padding: 100px 75px;
    width: 33.33%;
    text-align: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.9s ease;
    transition: 0.9s ease;
    @include breakpoint(phoneonly) {
      padding: 100px 60px;
    }
    img {
      -ms-flex-item-align: center;
          align-self: center;
      margin-bottom: 40px;
    }
    a {
      text-decoration: none;
      span {
        font-family: $league;
        font-size: 42px;
        text-transform: uppercase;
        color: $color-white;
        text-decoration: none;
        letter-spacing: 1.4px;
        @include breakpoint(phoneonly) {
          font-size: 34px;
        }
      }
    }
    p {
      font-size: 18px;
      color: $color-white;
      font-style: italic;
      @include breakpoint(phoneonly) {
        font-size: 14px;
      }
    }
  }
  .box-link.light-blue {
    background-color: $color-lightblue
  }
  .box-link.light-blue:hover {
    background-color: rgba(83, 158, 208, 0.8);
  }
  .box-link.dark-blue {
    background-color: $color-darkblue;
  }
  .box-link.dark-blue:hover {
    background-color: rgba(0, 81, 145, 0.8);
  }
  .box-link.background-image {
    background:
    /* invisible graient necessary to keep image from moving on mouseleave */
    -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(255, 255, 255, 0.0)),
      to(rgba(255, 255, 255, 0.0))
    ),
    url(../../assets/img/womanbackground.png) no-repeat center center;
    background:
    /* invisible graient necessary to keep image from moving on mouseleave */
    linear-gradient(
      rgba(255, 255, 255, 0.0),
      rgba(255, 255, 255, 0.0)
    ),
    url(../../assets/img/womanbackground.png) no-repeat center center;
    background-size: cover;
  }
  .box-link.background-image:hover {
    background:
    /* top, transparent white, with gradient */
    -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(255, 255, 255, 0.2)),
      to(rgba(255, 255, 255, 0.1))
    ),
    /* bottom, image */
    url(../../assets/img/womanbackground.png) no-repeat center center;
    background:
    /* top, transparent white, with gradient */
    linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1)
    ),
    /* bottom, image */
    url(../../assets/img/womanbackground.png) no-repeat center center;
    background-size: cover;
  }
}
