.blog-container {
  @include breakpoint(tabletonly) {
    margin-left: 40px;
  }
}
.blog {
  h1 {
    font-size: 50px;
    margin-top: 115px;
    margin-bottom: 35px;
    letter-spacing: 0px;
    color: $color-darkblue;
    font-family: $roboto;
    text-transform: none;
    @include breakpoint(phonetablet) {
      margin-top: 60px;
    }
  }
  @include breakpoint(hugeness) {
    @include hugeness-container;
    width: 1200px;
  }
  .blog-box {
    padding: 45px 45px 45px;
    background-color: $color-lightgray;
    border-radius: 4px;
    margin-bottom: 130px;
    width: 100%;
    @include breakpoint(phoneonly) {
      padding: 45px 20px;
    }
    .blog-box-section {
      border-bottom: 2px solid $color-gray2;
      padding: 25px 0px;
      h2 {
        margin: 0px;
        font-size: 22px;
        color: $color-lightblue;
      }
      p {
        margin: 0px;
        font-size: 14px;
      }
    }
    .blog-box-section:first-of-type {
      padding-top: 0px;
    }
  }
}
