@import "../components/calculator";

#donation-page {
  &.processing {
    &:before {
      content: '';
      display: block;
      position: fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index: 100;
      background-color: rgba(255,255,255,0.4);
    }
  }
  &.workplace {
    header {
      background-color: $color-white;
      //padding: 0;
      height:133px;
      .header-container {
        position: relative;
      }
      .workplace-logo {
        position: absolute;
        top: -28px;
        right: 18px;
        height: 106px;
      }
    }
    .donations {
      padding-top: 82px;
      background: url('/assets/img/hands.png') no-repeat right top;
      background-attachment: fixed;
    }
    .donation-form {
      &:before {
        content: none;
        background-image:none;
      }
    }
    .workplace-intro {
      @include saw-tooth-horizontal-gray-top;
      background: $color-lightgray2;
      width: 650px;
      margin: auto;
      padding: 61px 75px 64px;
      h1 {
        text-align: center;
        font-family: $roboto;
        font-weight: normal;
        font-size: 28px;
        line-height: 1.2em;
        text-transform: none;
        letter-spacing: 0;
        margin-bottom:15px;
      }
      .copy {
        text-align: center;
        font-family: $roboto;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        text-transform: none;
        letter-spacing: 0;
      }
      .video-preview {
        &:hover {
          cursor:pointer;
        }
        width: 311px;
        height: 174px;
        margin: 64px auto 0;
        background: transparent url(/assets/img/workplace-video-preview.jpg) no-repeat center;
      }
    }
    #calculator-widget {
      .donate-timeframe {
        .timeframe-btn {
          width:32%;
        }
      }
    }
  }

  [v-cloak] {
    display: none;
  }

  .notification {
    margin: -30px 0 26px;
  }

  .checkmark {
    label {
      display: block;
      position: relative;
      padding: 0 0 0 25px;
      margin: 30px 0px;
      font-size: 15px;
      input {
        display: block;
        font-size: 15px;
        height: 15px;
        width: 15px;
        position: absolute;
        top:0;
        left:0;
        margin: 0 0 0 !important;
    }
  }
  }

  .checkmark.no-bottom-margin {
    input {
      margin-bottom: 0px;
    }
  }

  .donations {
    background-color: $color-lightblue;
    padding-top: 80px;
    padding-bottom: 150px;
    background: url('/assets/img/smilinggirl.jpg') no-repeat left bottom;
    background-attachment: fixed;
  }

  .donation-form {
    @include saw-tooth-horizontal;
    width: 650px;
    background-color: $color-white;
    margin: auto;
    padding: 60px 75px 118px;
  }

  h2 {
    font-family: $roboto;
    font-size: 22px;
    color:$color-black;
    margin: 0 0 25px;
    padding: 0 0 0;
  }

  #calculator-widget {
    width:auto;
    padding: 3px 0 0;
    .calculator {
      min-height: 350px;
    }
    .donate-timeframe {
      margin-bottom: 47px !important;
    }
  }

  .disabled {
    color:rgba($color-black,0.5);
  }

  .parenthetical {
    font-family: $roboto;
    font-style: italic;
    font-size: 12px;
    color: $color-gray4;
  }

  .invalid-feedback {
    font-family: $roboto;
    font-size: 14px;
    line-height: 1em;
    color: $color-red;
  }


  .restriction {
    margin-top: 8px;
    margin-bottom: 14px;
  }

  .address-line {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 15px;
    label {
      min-width: 115px;
      margin-right: 15px;
    }
    .email-sent {
      width: 100%;
    }
    input, textarea {
      @extend %standard-input;
    }
    .state-zip > input {
      width: 60%;
    }
    .state-zip > input:last-of-type {
      width: 38%;
      margin-left: 2%;
    }
    .expiry-date {
      display: flex;
      > select {
        width: 60px;
        padding: 5px;
      }
      > select:last-of-type {
        margin-left: 10px;
      }
    }
    .name-entry > input {
      width: 49%;
    }
    .name-entry > input:last-of-type {
      margin-left: 2%;
    }

    &.invalid input,
    input.invalid {
      border-color:$color-red;
    }
    &.error {
      align-items: flex-start;
      margin-top:-28px;
      margin-bottom: 11px;
      .invalid-feedback {
        &.state {
          width: 60%;
        }
        &.zip {
          width: 38%;
          margin-left: 2%;
        }
        &.fname {
          width:49%;
        }
        &.lname {
          width:49%;
          margin-left:2%;
        }
      }
    }
    &.amount {
      &.error {
        margin-top:-10px;
        margin-bottom: 11px;
      }
      margin-bottom:12px;
    }
    &.disclaimer {
      margin:0 0 0;
      padding:0;
      font-family: $roboto;
      font-size: 14px;
      font-style: italic;
      a {
        &:hover {
          text-decoration: underline;
        }
        font-size: 14px;
        color: $color-lightblue;
        text-decoration: none;
      }
    }
    &.recognize {
      margin:16px 0 15px;
    }
  }

  .address {
    margin-bottom:37px;
  }

  .address, .payment-details {
    .address-line.amount {
      input {
        width: 100px;
      }
      span {
        font-size: 15px;
        margin-left: 15px;
      }
    }
    .admin-fees {
      font-size: 14px;
      margin-left: 130px;
      padding-bottom: 40px;
      font-style: italic;
      a {
        &:hover {
          text-decoration: underline;
        }
        color: $color-lightblue;
        text-decoration: none;
      }
    }
  }

  .contact-information {

    padding: 49px 0 32px;
    border-top: 1px solid $color-gray3;
    > div.checkmark input.no-margin {
      margin-top: 0px;
    }
    .email-sent {
      .parenthetical {
        margin: 5px 0 -18px;
        display: block;
      }
    }
    label {
      .parenthetical {
        font-size:15px;
      }
    }
    .checkmark {
      * {
        margin: 23px 0 3px;
      }
      input {
        margin-right:10px;
      }
    }
    #dedication-group {
      margin: 35px 0 0;
      .message {
        align-items: flex-start;
        label {
          padding-top:10px;
        }
        textarea {
          height:98px;
        }
      }
    }
    .doner-name-box {
      .radio-line {
        input[type="text"] {
          padding: 10px;
        }
        > div {
          width: 70%;
        }
        margin-top: 15px;
        display: flex;
        align-items: center;
      }
      > input {
        margin: 15px 0 30px;
        padding: 10px;
      }
    }
  }

  .payment-details {
    padding: 64px 0 44px;
    border-top: 1px solid $color-gray3;
    border-bottom: 1px solid $color-gray3;
    margin-bottom: 36px;

    .h-2-check {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin:0 0 0;
      .checkmark {
        * {
          margin: 0;
          font-style: normal;

        }
      }
    }
    .mail-notice {
      font-size: 15px;
      font-style: italic;
      margin-bottom:22px;
    }

    // https://stripe.com/docs/stripe-js/reference#element-options
    .stripe-base {
      @extend %standard-input;
      font-family: $roboto;
      color: $color-black;
      font-size: 16px;
      font-weight: normal;
    }
    #card-element {
      border-radius: 4px;
      border:1px solid $color-gray2;
      width: calc(100% - 2px);
      min-height: 40px;
    }
    #card-errors {
    }
    .card-error-wrap {
      margin: -30px 0 12px;
      .spacer {
        display: inline-block;
        width: 130px;
      }
    }
  }

  .pay-fees {
    label * {
      margin: 0;
    }
    input {
      margin-right:10px;
    }
  }

  .final-amount {
    margin:40px 0 0;
    background-color: $color-lightgray;
    padding: 54px 20px 46px;
    text-align: center;
    border-radius: 4px;
    .lead {
      font-family: $roboto;
      font-weight: normal;
      font-size: 15px;
      color:$color-black;
      margin:0;
      padding:0;
    }
    .final-number {
      font-size: 60px;
      font-weight: bold;
      line-height: 1.2em;
    }
  }

  .submit-btn {
    font-family: $roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px;
    height:60px;
    width: 100%;
    background-color: $color-orange;
    padding: 0;
    margin: 20px 0 0;
  }

  @include breakpoint(tabletonly) {
    .donation-form {
      width: 450px;
      padding: 60px 35px;
    }
    .final-amount {
      padding: 50px 70px;
    }
  }

  @include breakpoint(phonetablet) {
    &.workplace {
      header {
        padding-top:27px;
        height:72px;
        .logo-container > span {
          font-size:13px;
          line-height: 1.2em;
        }
        .workplace-logo {
          top: -20px;
          right: -4px;
          height: 60px;
        }
      }
      .donations {
        padding-top:50px;
        background-image: none;
      }
      .workplace-intro {
        width: 450px;
        padding: 61px 35px 57px;
        h1 {
          font-size: 22px;
        }
        .video-preview {
          margin: 32px auto 0;
        }
      }
    }

    .restriction {
      margin-top: 50px;
      margin-bottom: 35px;
    }
    .donations {
      padding-top:50px;
      padding-bottom:97px;
      background-image: none;
    }
    .payment-details {
      .h-2-check {
        display: block;
        h2 {
          margin-bottom: 18px;
        }
        .checkmark {
          margin-bottom:26px;
        }
      }
    }
  }

  @include breakpoint(phoneonly) {
    &.workplace {
      .workplace-intro {
        width: auto;
        padding: 61px 15px 57px;
        margin: 0 15px;
        .video-preview {
          width:100%;
        }
      }
    }

    .donation-form {
      padding: 52px 15px 72px;
      width: auto;
      margin: 0 15px;
    }
    h2 {
      margin-bottom: 38px;
    }
    #calculator-widget {
      .donate-buttons {
        margin-bottom:10px;
      }
      .donate-timeframe {
        margin-bottom: 58px !important;
      }
    }
    .address-line {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 7px;
      label {
        min-width: 0;
        margin-right: 0;
        margin-bottom: 5px;
      }
      &.amount {
        display: block;
        label {
          display: block;
        }
        #nonprofit-amount-input {
          display: inline;
        }
        .amount-sidetext {
          display: inline;
          padding:0 0 0 10px;
        }
      }
      &.disclaimer {
        display: block;
      }
      &.error {
        flex-direction: row;
        margin-top: -5px;
        margin-bottom: 5px;
      }
    }
    .address, .payment-details {
      .address-line.amount {
        span {
          margin-top: 10px;
          margin-left: 0;
        }
      }
      .admin-fees {
        margin-left: 0px;
      }
    }
    .contact-information {
      .email-sent {
        .parenthetical {
          margin-bottom:0;
        }
      }
      padding-top: 38px;
    }
    .payment-details {
      padding: 29px 0 29px;
      .mail-notice {
        margin-bottom: 10px;
      }
      .card-error-wrap {
        padding:0 0 0 4px;
        margin: -7px 0 11px;
        .spacer {
          display: none;
        }
      }
    }
    .final-amount {
      margin-top: 47px;
      padding: 50px 45px;
    }
  }
}
