@import "../components/calculator";

#donation-page {

  [v-cloak] {
    display: none;
  }

  .checkmark {
    * {
      display: inline;
      margin: 30px 0px;
      font-size: 15px;
    }
    input {
      margin-right: 10px;
    }
  }
  .checkmark.no-bottom-margin {
    input {
      margin-bottom: 0px;
    }
  }

  .donations {
    background-color: $color-lightblue;
    padding-top: 80px;
    padding-bottom: 150px;
    background: url('/assets/img/smilinggirl.jpg') no-repeat left 160px;
    background-attachment: fixed;
  }

  .donation-form {
    @include saw-tooth-horizontal(9px,$color-lightblue);
    width: 650px;
    background-color: $color-white;
    margin: auto;
    padding: 60px 75px 118px;
    @include breakpoint(tabletonly) {
      width: 450px;
      padding: 60px 35px;
    }
    @include breakpoint(phoneonly) {
      padding: 20px 10px;
      width: 98%;
      margin: 0px 1%;
    }
  }

  h2 {
    font-family: $roboto;
    font-size: 22px;
    color:$color-black;
    margin: 0 0 25px;
    padding: 0 0 0;
  }

  #calculator-widget {
    width:auto;
    padding: 3px 0 0;
    .calculator {
      min-height: 350px;
    }
    .donate-timeframe {
      margin-bottom: 47px !important;
    }
  }

  .disabled {
    color:rgba($color-black,0.5);
  }

  .parenthetical {
    font-family: $roboto;
    font-style: italic;
    font-size: 12px;
    color: $color-gray4;
  }

  .invalid-feedback {
    font-family: $roboto;
    font-size: 14px;
    line-height: 1em;
    color: $color-red;
  }

  .restriction {
    margin-top: 8px;
    margin-bottom: 14px;
  }

  .address-line {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 15px;
    @include breakpoint(phoneonly) {
      flex-direction: column;
      align-items: flex-start;
    }
    label {
      min-width: 115px;
      margin-right: 15px;
      @include breakpoint(phoneonly) {
        min-width: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
      }
    }
    .email-sent {
      width: 100%;
    }
    input, textarea {
      @extend %standard-input;
    }
    .state-zip > input {
      width: 60%;
    }
    .state-zip > input:last-of-type {
      width: 38%;
      margin-left: 2%;
    }
    .expiry-date {
      display: flex;
      > select {
        width: 60px;
        padding: 5px;
      }
      > select:last-of-type {
        margin-left: 10px;
      }
    }
    .name-entry > input {
      width: 48%;
    }
    .name-entry > input:last-of-type {
      margin-left: 2%;
    }

    &.invalid input,
    input.invalid {
      border-color:$color-red;
    }
    &.error {
      align-items: flex-start;
      margin-top:-28px;
      margin-bottom: 11px;
      .invalid-feedback {
        &.state {
          width: 60%;
        }
        &.zip {
          width: 38%;
          margin-left: 2%;
        }
        &.fname {
          width:48%;
        }
        &.lname {
          width:48%;
          margin-left:2%;
        }
      }
    }
    &.amount {
      &.error {
        margin-top:-10px;
        margin-bottom: 11px;
      }
      margin-bottom:12px;
    }
    &.disclaimer {
      margin:0 0 0;
      padding:0;
      font-family: $roboto;
      font-size: 14px;
      font-style: italic;
      a {
        &:hover {
          text-decoration: underline;
        }
        font-size: 14px;
        color: $color-lightblue;
        text-decoration: none;
      }
    }
  }

  .address {
    margin-bottom:37px;
  }

  .address, .payment-details {
    .address-line.amount {
      input {
        width: 100px;
      }
      span {
        font-size: 15px;
        margin-left: 15px;
        @include breakpoint(phoneonly) {
          margin-top: 10px;
          margin-left: 0px;
        }
      }
    }
    .admin-fees {
      font-size: 14px;
      margin-left: 130px;
      padding-bottom: 40px;
      font-style: italic;
      @include breakpoint(phoneonly) {
        margin-left: 0px;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
        color: $color-lightblue;
        text-decoration: none;
      }
    }
  }

  .contact-information {

    padding: 49px 0 32px;
    border-top: 1px solid $color-gray3;
    > div.checkmark input.no-margin {
      margin-top: 0px;
    }
    .email-sent {
      .parenthetical {
        margin: 5px 0 -18px;
        display: block;
      }
    }
    label {
      .parenthetical {
        font-size:15px;
      }
    }
    .checkmark {
      * {
        margin: 23px 0 3px;
      }
      input {
        margin-right:10px;
      }
    }
    #dedication-group {
      margin: 35px 0 0;
      .message {
        align-items: flex-start;
        label {
          padding-top:10px;
        }
        textarea {
          height:98px;
        }
      }
    }
    .doner-name-box {
      .radio-line {
        input[type="text"] {
          padding: 10px;
        }
        > div {
          width: 70%;
        }
        margin-top: 15px;
        display: flex;
        align-items: center;
      }
      > input {
        margin: 15px 0 30px;
        padding: 10px;
      }
    }
  }

  .payment-details {
    padding: 64px 0 44px;
    border-top: 1px solid $color-gray3;
    border-bottom: 1px solid $color-gray3;
    margin-bottom: 36px;

    .h-2-check {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin:0 0 0;
      .checkmark {
        * {
          margin: 0;
          font-style: normal;

        }
      }
    }
    .mail-notice {
      font-size: 15px;
      font-style: italic;
      margin-bottom:22px;
    }
    #card-element {
      outline:1px solid $color-gray2;
      width:100%;
      min-height: 40px;
    }
    #card-errors {
    }
    .card-error-wrap {
      margin: -29px 0 12px;
      .spacer {
        display: inline-block;
        width: 130px;
      }
    }
  }

  .pay-fees {
    label * {
      margin: 0;
    }
    input {
      margin-right:10px;
    }
  }

  .final-amount {
    margin:40px 0 0;
    background-color: $color-lightgray;
    padding: 54px 140px 46px;
    text-align: center;
    border-radius: 4px;
    @include breakpoint(tabletonly) {
      padding: 50px 70px;
    }
    @include breakpoint(phoneonly) {
      padding: 50px 45px;
    }
    .lead {
      font-family: $roboto;
      font-weight: normal;
      font-size: 15px;
      corlo:$color-black;
      margin:0;
      padding:0;
    }
    .final-number {
      font-size: 60px;
      font-weight: bold;
      line-height: 1.2em;
    }
  }

  .submit-btn {
    font-family: $roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px;
    height:60px;
    width: 100%;
    background-color: $color-orange;
    padding: 0;
    margin: 20px 0 0;
  }


  /////////
  @include breakpoint(phonetablet) {
    .donations {
      background-image: none;
    }
  }

}
