@import "../components/calculator";
#impact-calc-page {
  .get-involved-calc {
    background: url('/assets/img/smilinggirl.jpg') no-repeat left /*calc(50% + -290px)*/ 26px;
    background-color: $color-lightblue;
    display:block;
    min-height:500px;
    position: relative;

    .wrap {
      @include clearfix;
      position: relative;
      max-width: 1241px;
      padding: 90px 20px 0;
      margin: 0 auto;
      min-height:770px;
    }
    .headline {
      //outline:1px solid gold;
      position: absolute;
      top:0;
      left:22px;
      width: calc(100% - 692px);
      padding: 0 0 0;
      h1 {
        white-space: nowrap;
        overflow: visible;
        position: absolute;
        top:29px;
        left:0;
        font-family: $roboto-condensed;
        font-weight: bold;
        font-size: 14px;
        .breadcrumb {
          font-family: $roboto-condensed;
          font-weight: bold;
          font-size: 14px;
        }
      }
      > span {
        br {
          display: none;
        }
        white-space: normal;
        display: block;
        margin: 217px 0 0;
        font-weight: bold;
        font-size: 60px;
        font-family: $roboto;
        text-transform: none;
        letter-spacing: 0;
        line-height: 1em;
        @include breakpoint(tabletonly) {
          font-size: 50px;
        }
        @include breakpoint(phoneonly) {
          font-size: 26px;
        }
      }
    }
  }

  #calculator-widget {
    @include saw-tooth-horizontal(9px,$color-lightblue);
    margin: 0 0 110px;
    float:right;
    padding: 110px 75px 45px;
  }

  @include breakpoint(phonetablet) {
    .get-involved-calc {
      background-image: none;
      .wrap {
        padding: 0 14px 0;
      }
      .headline {
        position: relative;
        top:unset;
        left:unset;
        width:100%;
        padding: 24px 0 50px 6px;
        h1 {
          $letter-spacing: .16em;
          font-size: 13px;
          position: relative;
          top:unset;
          left:unset;
          margin: 0 0 26px;
          padding:0 0 0;
          letter-spacing: $letter-spacing;
          .breadcrumb {
            letter-spacing: $letter-spacing;
          }
        }
        > span {
          br {
            display: block;
          }
          position: relative;
          top:unset;
          left:unset;
          font-size: 30px;
          margin: 0 0 0;
          padding:0 0 0;
          line-height: 1.2em;
        }
      }
    }
    #calculator-widget {
      padding: 63px 18px 40px
    }
  }
}




