.get-help .banner {
  // See site js for background img url
  background: url('/assets/img/manonstreet.jpg') no-repeat center center;
  height: 780px;
  background-size: cover;
  @include breakpoint(hugeness) {
    @include hugeness-container;
  }
  @include breakpoint(tabletonly) {
    height:500px;
    background-image:  url('/assets/img/manonstreettablet.jpg');
  }
  @include breakpoint(phoneonly) {
    height:300px;
    background-image: none;
  }
  .headline {
    h1 {
      color: $color-white;
    }
    p {
      color: $color-white;
      font-size: 18px;
    }
  }
}
.bottom-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: $color-lightgray;
  padding: 65px 70px;
  @include breakpoint(phonetablet) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 35px 20px;
  }
  .bottom-cta-text {
    width: 60%;
    margin-right: 5%;
    @include breakpoint(phonetablet) {
      width: 100%;
    }
  }
  .bottom-cta-button {
    width: 35%;
    @include breakpoint(phonetablet) {
      width: auto;
    }
  }
}
.get-help {
  .small-box {
    text-align: center;
  }
  h3 {
    font-size: 24px;
  }
}
