#advocate-page {
  background: $color-lightblue url(/assets/img/girlbullhorn.png) no-repeat calc(50% + 255px) 204px;

  @include breakpoint(tabletonly) {
    background-size: auto 500px;
    background-position: calc(100% + 40px) 180px;
  }
  @include breakpoint(phoneonly) {
    background-size: auto 500px;
    background-position: calc(50% + 10px) 140px;
  }
}

.get-involved-advocate {
  padding-bottom: 0px;
  .banner {
    height: 860px;
    @include breakpoint(tabletonly) {
      height:auto;
      min-height:750px;
    }
    @include breakpoint(phoneonly) {
      height:525px;
    }
    @include breakpoint(hugeness) {
      @include hugeness-container;
    }
  }
  .headline {
    p {
      color: $color-white;
      font-size: 18px;
      letter-spacing: 0;
      a {
        font-size: 18px;
        text-decoration:underline;
      }
    }
    > div {
      margin-top: 40px;
      margin-bottom: 60px;
      max-width: 500px;
      @include breakpoint(phoneonly) {
        display: none;
      }
    }
    a {
      @include breakpoint(phoneonly) {
        display: none;
      }
    }
    @include breakpoint(tabletonly) {
      padding-bottom:50px;
      p:first-of-type {
        max-width: unset;
      }
      .headline-text-group {
        margin-top:450px;
        max-width: unset;
      }
    }
  }
  .headline-text-group-mobile {
    display: none;
    @include breakpoint(phoneonly) {
      display: inline-block;
      @include mobilePageSideMargins;
    }
    p {
      color: $color-white;
      font-size: 18px;
      a {
        font-size:18px;
        text-decoration:underline;
      }
    }
    button {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}
