.get-involved-volunteer {
  .banner {
    background: url('/assets/img/youngboy.jpg') no-repeat center center;
    height: 780px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include breakpoint(hugeness) {
      @include hugeness-container;
    }
    @include breakpoint(tabletonly) {
      height:500px;
      background-image: url('/assets/img/youngboytablet.jpg');
    }
    @include breakpoint(phoneonly) {
      height:300px;
      background-image: url('/assets/img/youngboyphone.jpg');
    }
  }
  .volunteer-section {
    @include pageSideMargins;
    @include breakpoint(phonetablet) {
      @include mobilePageSideMargins;
    }
    .volunteer-row {
      border-top: 2px solid $color-lightgray;
      padding-bottom: 95px;
      @include breakpoint(phoneonly) {
        padding-bottom: 30px;
      }
      > span {
        color: $color-white;
        font-size: 20px;
        font-weight: bold;
        padding: 14px;
        display: inline-block;
        background-color: $color-orange;
      }
      .volunteer-content {
        display: flex;
        @include breakpoint(phonetablet) {
          flex-direction: column;
        }
        > p {
          width: 48%;
          margin-right: 4%;
          @include breakpoint(phonetablet) {
            width: 100%;
            margin-right: 0%;
          }
        }
        .volunteer-details {
          margin-top: 15px;
          .volunteer-detail {
            margin-bottom: 15px;
            @include breakpoint(phoneonly) {
              display: flex;
            }
            span {
              width: 120px;
              font-weight: bold;
              font-size: 12px;
              text-transform: uppercase;
              display: inline-block;
            }
            p {
              display: inline;
              margin-left: 18px;
              font-size: 15px;
              @include breakpoint(phoneonly) {
                margin-top: 0px;
              }
            }
          }
          > p {
            margin-top: 30px;
          }
          a {
            color: $color-lightblue;
          }
        }
      }
    }
  }
}
