@import "../components/calculator";

.get-involved-calc {
  background: url('/assets/img/smilinggirl.jpg') no-repeat left bottom;
  background-color: $color-lightblue;
  display: flex;
  justify-content: space-between;
  @include breakpoint(phonetablet) {
    flex-direction: column;
    align-items: center;
    background-image: none;
  }
  .headline {
    padding-top: 30px;
    @include breakpoint(phonetablet) {
      text-align: center;
    }
    @include breakpoint(tabletonly) {
      padding-top: 40px;
      padding-left: 10px;
    }
    @include breakpoint(phoneonly) {
      padding-top: 50px;
    }
    h1 {
      margin-bottom: 120px;
      font-size: 14px;
      @include breakpoint(phoneonly) {
        margin-bottom: 50px;
      }
    }
    > span {
      font-weight: bold;
      font-size: 60px;
      font-family: $roboto;
      text-transform: none;
      @include breakpoint(tabletonly) {
        font-size: 50px;
      }
      @include breakpoint(phoneonly) {
        font-size: 26px;
      }
    }
  }
  span {
    @include breakpoint(desktopbeyond) {
      padding: 0px;
    }
  }
}

.donation-form {
  margin: 100px 0 115px 0;
  padding: 45px 55px;
  @include breakpoint(phoneonly) {
    padding: 20px 10px;
    margin: 50px 1%;
  }
  button {
    width: 100%;
    margin-top: 20px;
  }
}
