#giving-page {
  background-color: $color-lightblue;
}
.color-container.banner-get-involved {
  padding-bottom: 0px;
}
.banner-get-involved {
  position: relative;
  overflow: hidden;
  &.frame2 {
    &:before {
      background-image: url(/assets/img/getinvolvednohat.png);
      transition: background-image 1s;
    }
  }
  &:before {
    content:'';
    display: block;
    position: absolute;
    top: -47px;
    right: -79px;
    width: 1136px;
    height: 1169px;
    background: transparent url(/assets/img/getinvolved.png) no-repeat center;
    z-index: -1;
    transition: background-image 1s;
    @media only screen and (max-width : 1070px) {
      right: -247px;
    }
  }


  @include breakpoint(hugeness) {
    overflow: visible;
    @include hugeness-container;
  }
  @include breakpoint(tabletonly) {
    background: no-repeat center center;
    height: 800px;
  }
  @include breakpoint(phoneonly) {
    height: auto;
    &.frame2 {
      &:before {
        background-image: url(/assets/img/getinvolved.png);
        transition: background-image 1s;
      }
    }
    &:before {
      background-size: 360px auto;
      background-position: calc(50% + 40px) 120px;

      width: 100vw;
      height: 100vh;


      top:0;
      right:unset;
      left:0;
    }
  }
  > img {
    display: none;
  }
}

.headline {
  @include breakpoint(hugeness) {
    padding-left: 100px;
  }
  @include breakpoint(tabletonly) {
    padding-top: 40px;
    padding-left: 10px;
    overflow:hidden;
  }
  @include breakpoint(phoneonly) {
    padding-top: 50px;
  }
}

.square-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  margin-bottom:75px;
  @include pageSideMargins;
  @include breakpoint(tabletonly) {
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
  }
  @include breakpoint(phoneonly) {
    @include mobilePageSideMargins;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .square {
    &:hover {
      background-color: rgba($color-lightblue,0.85);
      color:$color-white;
      a span,
      .square-title {
        color:$color-white;
      }
      p {
        color: $color-white;
      }
      @include breakpoint(phoneonly) {
        background-color: $color-lightblue;
      }
    }
    width:33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: $color-white;
    border: 1px solid $color-white;
    color: $color-black;
    padding: 75px 42px 45px;
    margin-right: 20px;
    border-radius: 6px;
    -webkit-transition: .7s ease;
    transition: .7s ease;
    @include breakpoint(tabletonly) {
      padding: 20px 10px;
      margin-right: 10px;
    }
    @include breakpoint(phoneonly) {
      width:100%;
      background-color: transparent;
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 20px;
    }
    img {
      -ms-flex-item-align: center;
          align-self: center;
      margin-bottom: 40px;
      @include breakpoint(tabletonly) {
        margin-bottom: 15px;
      }
    }
    a span,
    .square-title {
      font-family: $roboto;
      color: $color-lightblue;
      font-size: 28px;
      @include breakpoint(tabletonly) {
        font-size: 18px;
      }
      @include breakpoint(phoneonly) {
        font-weight: bold;
      }
    }
    p {
      @include breakpoint(tabletonly) {
        font-size: 14px;
      }
    }
  @include breakpoint(phoneonly) {
    background-color: $color-white;
    padding: 65px 20px 40px;
  }
  }
}
