.our-work-what-we-do {
  .banner.our-work {
    // See site js for background img url
    background: url('/assets/img/smilingwoman.jpg') no-repeat center center;
    height: 780px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $color-orange;
    @include breakpoint(hugeness) {
      @include hugeness-container;
    }
    @include breakpoint(tabletonly) {
      height:500px;
      background-image:  url('/assets/img/smilingwomantablet.jpg');
    }
    @include breakpoint(phoneonly) {
      height:300px;
      background-image:  url('/assets/img/smilingwomanmobile.jpg');
    }
  }  
}
